---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Menupulate">
	<Header>
		<h4 slot="left" class="text-3xl font-bold">Menupulate</h4>
		<a slot="right" href="/login">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
				<path d="M9 12h12l-3 -3" />
				<path d="M18 15l3 -3" />
			</svg>
		</a>
	</Header>
	<main class="items-center flex flex-col">
		<a href="/menu">Go to menu</a>
	</main>
</Layout>
