---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro"

---

<Layout title="Menupulate">
	<main class="items-center flex flex-col">
		<h1 class="text-3xl font-bold">Welcome to Menupulate!</h1>
		<a class="text-2xl font-semibold m-10" href="/">Login to access</a>
		<a href="/menu">Go to menu</a>
	</main>
</Layout>
