---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MenuCard from "../components/MenuCard.astro";

const menus = [{date:"07/25", meals:[{name:"comida", description:"Noenqué1"}, {name:"cena", description:"Noencuántos1"}]}, {date:"07/26", meals:[{name:"comida", description:"Noenqué2"}, {name:"cena", description:"Noencuántos2"}]}, {date:"07/27", meals:[{name:"comida", description:"Noenqué3"}, {name:"cena", description:"Noencuántos3"}]}];
---

<Layout title="Menupulate">
    <Header>
        <a href="/" slot="left">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
            </svg>
        </a>
    </Header>
    <main>
        <div class="items-center flex flex-col ms-5 mr-5" id="menuAccordion">
            {menus.map((menu)=> <MenuCard date={menu.date} meals={menu.meals}/>)}
        </div>
    </main>
</Layout>